package templates

templ PasswordResetEmail(link string) {
	<style type="text/css">
		p {
			font-family: sans-serif;
		}
	</style>
	<div>
		<p>
			Please clicking the link below to reset your password.
			If you did not request a password reset, please ignore this email.
		</p>
		<a class="button" href={ templ.SafeURL(link) }>Click me!</a>
	</div>
}
