package templates

templ Welcome(name, description string) {
	<style type="text/css">
		p {
			font-family: sans-serif;
		}
		.button {
			background-color: black;
			foreground-color: white;
		}
	</style>
	<div>
		<h1>Welcome, { name }!</h1>
		<p>{ description }</p>
		<a class="button" href="https://corrigan.io">Click me!</a>
	</div>
}
